body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    margin: 0px;
}

#titre {
    font-family: verdana;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 50px;
    justify-content: center;
}

#graph {
    display: flex;
    flex-direction: column;
}

.unite {
    display: flex;
    flex-direction: column;
}
.titre_unit{
    font-family: verdana;
    font-size: 25px;
    background-color: white;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.graphs {
    display: flex;
    flex-direction: column;
}

.haut {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.bas {
    flex-wrap: wrap;
    justify-content:center;
    display: flex;
    flex-direction: row;
}

.block {
    width: 500px;
    height: 250px;
    background-color: white;
    margin-bottom: 6px;
    margin-left: 3px;
    margin-right: 3px;
}
